body{
  
  background-color: grey;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  margin:1em;
  background-image: url("plain.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  color: white;
  width: 95%;


}

h1{
    font-size: 1.5em;
}

h2{
  font-size: 1.1em;
}

.form{
 
  margin: 1em;
  width: fit-content;
  border: 0.1em;
  border-color: rgb(22, 70, 122);
  padding: 2em;
  border-style:solid;
  background-color:rgba(26, 63, 97, 0.436);
}

nav{
  background: linear-gradient(to left ,azure, rgb(167, 177, 255));
  padding: 0.1em;
  font-weight: bold;
}

nav ul {
  display: flex;
  justify-content: left;
  list-style: none;
  gap: 3em;
}

.audience{
  background-color:rgba(26, 63, 97, 0.436);
  padding: 1em;
  margin: 1em;
  width: 50%;
  border-spacing:.5em;
  border: 0.1em;
  border-color: rgb(22, 70, 122);
  border-style: solid;

}

.audience td{
    padding: 1em;
    text-align: center;
    border-width: .1em;
    border-style: solid;
    border-color:  rgb(22, 70, 122);
}

.audience th {
    text-align: center;
    border-width: .1em;
    border-style: solid;
    border-color: rgb(22, 70, 122);
    padding: 1em;
    margin: 1em;
    
}

.video{
  border-radius: 10px;
  border-style: solid;
  border-color: azure;
  border-width: 5px;
  width:50%;
  margin:1em;
}

.picture{
  margin:1em;

}
